IfDefined NewLobby
{
	IncludeFile: ServerListCtrl_New.cfg
}
else
{

SetResource: ServerListCtrl

GroupDefine HeaderContainer
{
	WONComboBox ComboBox
	{
		Height: 20
		DrawFrame: false
	}

	WONHeaderButton Button
	{
	}

	RectangleComponent Rect
	{
		SolidColor: 000000
		Height: 1
	}

	Layout: ComboBox,SameWidth SameBottom,this,0,1
	Layout: Button,GrowToTop,ComboBox
	Layout: Button,SameWidth,this
	Layout: Rect,SameBottom SameWidth,this

	Add: Button,ComboBox,Rect
}

WONListCtrl ListBox
{
	HeaderHeight: 36
	ScrollbarConditions: Disable,Conditional
}

Define: NumColumns 6 // Custom header adds to this

##### ADD THE CUSTOM HEADERS #####
CustomColumnStart: 4
IncludeFile: ServerListCustomHeader.cfg
##### ##### ##### ##### ##### ##### 


# Set the column filter types
SetColumnFilterType: 2,String
SetColumnFilterType: 3,String
SetColumnFilterType: $NumColumns$-2,Player
SetColumnFilterType: $NumColumns$-1,Int


# Add the default columns
Modify ListBox._Header
{
	GroupDefine BaseIconHeader
	{
		WONHeaderButton HeaderButton { Height: 17 }

		RectangleComponent Rect1 { SolidColor: (STD,Back) }
		RectangleComponent Rect2 { OutlineColor: 000000; Width: 1 }
		RectangleComponent Rect3 { OutlineColor: 000000; Height: 1 }
		Layout: Rect1,SameSize,this
		Layout: Rect2,SameRight SameHeight,this
		Layout: Rect3,SameWidth SameBottom,this
		Layout: HeaderButton,SameWidth,this
			
		Add: Rect1,Rect2,Rect3,HeaderButton
	}

	Container IconHeader : BaseIconHeader { }
	Container SkillLevelHeader : BaseIconHeader { }


	Container GameNameHeader : HeaderContainer
	{
		Modify: Button,Text,@GameName
		Modify: ComboBox,TextItem,@NULL,@GameNameCombo1,@GameNameCombo2,@GameNameCombo3
		MapComponent: ComboBox,parent.parent.parent.GameNameCombo
	}

	Container GameAddressHeader : HeaderContainer
	{
		Modify: Button,Text,@GameAddress
		Modify: ComboBox,TextItem,@NULL
		MapComponent: ComboBox,parent.parent.parent.GameAddressCombo
	}

	Container PlayersHeader : HeaderContainer
	{
		Modify: Button,Text,@Players
		Modify: ComboBox,TextItem,@NULL,@PlayersCombo1,@PlayersCombo2,@PlayersCombo3,@PlayersCombo4,@PlayersCombo5
		MapComponent: ComboBox,parent.parent.parent.PlayersCombo
	}

	Container PingHeader : HeaderContainer
	{
		Modify: Button,Text,@Ping
		Modify: ComboBox,TextItem,@NULL,@PingCombo1,@PingCombo2,@PingCombo3,@PingCombo4
		MapComponent: ComboBox,parent.parent.parent.PingCombo
	}

	SetColumn: 0,IconHeader
	SetColumn: 1,SkillLevelHeader
	SetColumn: 2,GameNameHeader
	SetColumn: 3,GameAddressHeader
	SetColumn: $NumColumns$-2,PlayersHeader
	SetColumn: $NumColumns$-1,PingHeader
	SetStandardColumn: $NumColumns$,@NULL
}


Modify ListBox._MultiListArea
{
	ColumnWidth: 0,40
	ColumnWidth: 1,33
	ColumnWidth: 3,140
	ColumnWidth: $NumColumns$-2,70
	ColumnWidth: $NumColumns$-1,50
	DynamicSizeColumn: 2
}
	
	
MapComponent: ListBox._MultiListArea,ServerList

Layout: ListBox,SameSize,this
Add: ListBox

}